
body {
    margin: 0;
    min-height: 100vh;
    background-image: 
        linear-gradient(rgb(226, 40, 130),
        rgba(0, 0, 0, 0.647)),
        url(../assets/regisimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
}

.card {
    border-radius: 20px !important;
    margin: auto;
    padding: 30px;
    background-color: rgba(254, 218, 252, 0.795) !important;
    max-width: 900px;
    width: 90%;
}

.wrapper {
    overflow-y: auto;
    max-height: 90vh;
    width: 70%;
    padding: 20px;
}

.tombol {
    display: flex;
    justify-content: space-between;
}

#register {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}

.btn-primary {
    height: 35px;
    width: 70px;
}